@{
    ViewBag.Title = "Contact";
}
<h2>Contact the Maersk Group</h2>
<h3>Headquarters office</h3>

<address>
    The Maersk Group<br/>
    Esplanaden 50<br/>
    1098 Copenhagen K<br/>
    Denmark<br/>
    <strong>Telephone</strong>
    +45 33 63 33 63<br/>
    <strong>Telefax</strong>
    +45 33 63 30 03<br/>
</address>
